* {
  background-color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    height: auto;
    width: 50px;
  }

h1 {
  font-size: xx-large;
  font-weight: lighter;
  color: bisque;
}

ul {
  background-color: chocolate;
}

li {
  color: rgb(0, 72, 255);
}

a {
  color: greenyellow;
}